html,
body {
  padding: 0;
  margin: 0;
  font-family: "Giallo", serif;
  font-variation-settings: "wght" 500;
}

@font-face {
  font-family: "Giallo";
  font-style: normal;
  src: url(../public/fonts/GialloRoman_VF.ttf) format("woff2");
}

* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* VARIABLES */

:root {
  --margin-XXL: 400px;
  --margin-XL: 200px;
  --margin-L: 80px;
  --margin-M: 30px;
  --margin-S: 12px;

  --fontXSmallSize: 23px;
  --fontXSmallLineHeight: 27px;
  --fontXSmallLetterSpacing: 0;

  --fontSmallSize: 35px;
  --fontSmallLineHeight: 40px;
  --fontSmallLetterSpacing: -0.6px;
  --fontSmallWordSpacing: -0.6px;

  --fontMediumSize: 50px;
  --fontMediumLineHeight: 50px;
  --fontMediumLetterSpacing: -1px;

  --fontLargeSize: clamp(30px, 8vw, 140px);
  --fontLargeLineHeight: clamp(40px, 8.5vw, 140px);
  --fontLargeLetterSpacing: clamp(-5px, -0.2vw, 140px);
}

::selection {
  color: white;
  background: black;
}

@media only screen and (max-width: 800px) {
  :root {
    --margin-XXL: 100px;
    --margin-XL: 50px;
    --margin-L: 20px;
    --margin-M: 18px;
    --margin-S: 15px;

    --fontXSmallSize: 16px;
    --fontXSmallLineHeight: 20px;
    --fontXSmallLetterSpacing: 0;

    --fontSmallSize: 16px;
    --fontSmallLineHeight: 20px;
    --fontSmallLetterSpacing: -0px;
    --fontSmallWordSpacing: -0.6px;

    --fontMediumSize: 25px;
    --fontMediumLineHeight: 25px;
    --fontMediumLetterSpacing: -0.5px;

    --fontLargeSize: 8vw;
    --fontLargeLineHeight: 8.5vw;
    --fontLargeLetterSpacing: -0.2vw;
  }

  a:hover {
    font-variation-settings: "wght" 500;
  }

  .playmo {
    display: none;
  }

  .fontXXS {
    font-size: 16px !important;
    line-height: 20px !important;
    letter-spacing: 0 !important;
  }
}

/* MAIN */

a {
  color: inherit;
  font-style: italic;
  text-decoration: none;
  transition: font-variation-settings 0.3s ease-out;
  cursor: pointer;
}

a:hover {
  font-variation-settings: "wght" 800;
}

p {
  font-size: var(--fontSmallSize);
  line-height: var(--fontSmallLineHeight);
  letter-spacing: var(--fontSmallLetterSpacing);
  word-spacing: var(--fontSmallWordSpacing);
  margin: 0;
}

h1 {
  font-size: var(--fontLargeSize);
  line-height: var(--fontLargeLineHeight);
  letter-spacing: var(--fontLargeLetterSpacing);
  margin: 0;
  font-weight: normal;
  hyphens: auto;
}

h2 {
  font-size: var(--fontMediumSize);
  line-height: var(--fontMediumLineHeight);
  letter-spacing: var(--fontMediumLetterSpacing);
  margin: 0;
  font-weight: normal;
  hyphens: auto;
}

ul {
  padding: 0;
  list-style: none;
}

.mainWrapper {
  margin: var(--margin-XXL) var(--margin-M) var(--margin-M) var(--margin-M);
}

.fontXS {
  font-size: var(--fontXSmallSize);
  line-height: var(--fontXSmallLineHeight);
  letter-spacing: var(--fontXSmallLetterSpacing);
}

.fontXXS {
  font-size: 18px;
  line-height: 20px;
  letter-spacing: var(--fontXSmallLetterSpacing);
}

/* HOME */

.homeHome {
  position: fixed;
  top: var(--margin-M);
  left: var(--margin-M);
  margin: 0;
  cursor: default;
}

.homeLogo {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  font-size: 23vw;
  line-height: 18vw;
  letter-spacing: -0.7vw;
  pointer-events: none;
  z-index: 50;
}

.homeImageRow0 {
  position: fixed;
  bottom: 0;
  z-index: 100;
  width: 100vw;
  z-index: 110;
  pointer-events: none;
  transform: scale(150%);
}

.homeImageRow1 {
  position: fixed;
  bottom: 0;
  z-index: 100;
  width: 100vw;
  pointer-events: none;
  transform: scale(120%);
}

.homeImageRow2 {
  position: fixed;
  bottom: 0;
  z-index: 100;
  width: 100vw;
  pointer-events: none;
}

.homeImageRow3 {
  position: fixed;
  bottom: 0;
  z-index: 0;
  width: 100vw;
  transform: translateY(-40vh) scale(90%);
  pointer-events: none;
}

.homeImageRow4 {
  position: fixed;
  bottom: 0;
  z-index: 0;
  width: 100vw;
  transform: translateY(-40vh) scale(80%);
  pointer-events: none;
}

.homeImageFisch {
  width: 30vw;
  transform: translate(50vw, 5vh);
  pointer-events: auto;
  cursor: pointer;
}

.homeImageJeep {
  transform: translate(10vw, -5vw);
  width: 30vw;
  pointer-events: auto;
  cursor: pointer;
}

.homeJeepDriving {
  animation: driveOut 2s cubic-bezier(0.51, 0, 1, -0.09);
  animation-fill-mode: forwards;
}

.homeSmoke {
  position: absolute;
  bottom: 0;
  mix-blend-mode: multiply;
  -webkit-mix-blend-mode: multiply;
  pointer-events: none;
}

.homeImageFernseher {
  transform: translate(30vw, -10vw);
  width: 30vw;
  pointer-events: auto;
  cursor: pointer;
}

.homePreloader {
  opacity: 0;
  pointer-events: none;
  position: absolute;
}

.homeImageFaesser {
  position: absolute;
  bottom: 0;
  transform: translate(80vw, -5vw);
  width: 30vw;
  pointer-events: auto;
  cursor: pointer;
}

.homeImageVogel {
  position: absolute;
  bottom: 0;
  transform: translate(75vw, -15vw);
  width: 30vw;
  pointer-events: auto;
  cursor: pointer;
}

.homeLegals {
  position: fixed;
  bottom: 0;
  height: 150px;
  width: 100vw;
  display: flex;
  align-items: flex-end;
  padding-bottom: var(--margin-S);
  transform: translateY(50px);
  transition: transform 0.3s ease;
}

.homeLegals:hover {
  transform: translateY(0px);
}

@keyframes driveOut {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-200vw);
  }
}

@media only screen and (max-width: 800px) {
  .homeHome {
    display: none;
  }
  .homeLegals {
    display: none;
  }
  .homeImageFisch {
    transform: translate(46vw, -1vh);
    width: 50vw;
  }
  .homeImageJeep {
    transform: translate(10vw, -25vw);
    width: 40vw;
  }
  .homeImageFaesser {
    transform: translate(52vw, -61vw);
    width: 60vw;
  }
  .homeImageFernseher {
    transform: translate(10vw, -42vw);
    width: 50vw;
  }
  .homeImageVogel {
    transform: translate(63vw, -77vw);
    width: 42vw;
  }
}

/* RUNNINGTITLE */

.runningTitleWrapper {
  position: fixed;
  top: var(--margin-M);
  left: var(--margin-M);
  display: flex;
  height: 30px;
  z-index: 100;
}

.runningTitleHome {
  transition: all 0.3s ease-out;
  display: flex;
  justify-content: flex-start;
}

.runningTitleCurrent {
  display: flex;
  justify-content: flex-start;
  cursor: default;
}

.runningTitleHidden {
  width: 0px;
  pointer-events: none;
  opacity: 0;
}

.runningTitleShownDouble {
  width: 485px;
  pointer-events: auto;
  opacity: 1;
  cursor: pointer;
}

.runningTitleShown {
  width: 220px;
  pointer-events: auto;
  opacity: 1;
  cursor: pointer;
}

@media only screen and (max-width: 800px) {
  .runningTitleWrapper {
    display: none;
  }
}

/* AKTUELLES */

.aktMarqueeWrapper {
  margin-bottom: var(--margin-L);
  position: absolute;
  left: 0;
  width: 100vw;
}

.aktFeed {
  padding-top: var(--margin-XL);
  display: flex;
  flex-wrap: wrap;
}

.aktPost {
  width: 40vw;
  margin-bottom: var(--margin-L);
  margin-right: 50px;
}

.aktPost h2 {
  margin-bottom: 12px;
  margin-top: 7px;
}

.aktSubline {
  margin-top: var(--margin-S);
  font-size: var(--fontXSmallSize);
  line-height: var(--fontXSmallLineHeight);
  letter-spacing: var(--fontXSmallLetterSpacing);
  width: 80%;
}

.aktImageHochkant {
  margin-top: var(--margin-S);
  width: 50%;
}

.aktImageQuerformat {
  margin-top: var(--margin-S);
  width: 75%;
}

@media only screen and (max-width: 800px) {
  .aktPost {
    width: 100%;
    margin-right: 0;
    margin-bottom: var(--margin-XL);
  }
  .aktPost h2 {
    margin: var(--margin-S) 0;
  }
  .aktImage {
    width: 100%;
  }
  .aktFeed {
    padding-top: var(--margin-XXL);
  }
}

/* PROJEKTE */

.projWrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: var(--margin-XL);
}

.projSingleWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.projSingleWrapper h1 {
  text-align: center;
  padding: 0 5vw 50px 5vw;
}

.projSingleText {
  margin: var(--margin-L) 5vw var(--margin-XL);
}

.projSingleText p {
  padding-top: 37px;
}

.projSingleText h1,
.projSingleText h2,
.projSingleText h3 {
  padding-top: 37px;
  font-size: var(--fontXSmallSize);
  line-height: var(--fontXSmallLineHeight);
  letter-spacing: var(--fontXSmallLetterSpacing);
}

.projSingleDataCol {
  width: 50%;
}

.projSingleDataWrapper {
  width: 100%;
  display: flex;
  padding: var(--margin-M) 5vw;
}

.projSingleDataWrapper p {
  width: 100%;
  text-align: center;
}

.projSingleDataCol2 {
  width: 50%;
  padding-right: 50px;
  margin-bottom: var(--margin-M);
}

.projSingleDataCol > p,
.projSingleDataCol2 > p {
  padding: var(--margin-L) 0 var(--margin-M) 0;
  text-align: center;
}

.projSingleInner {
  padding-top: var(--margin-M);
  padding-right: var(--margin-M);
}

.projSingleInner p {
  text-align: left;
  font-size: var(--fontXSmallSize);
  line-height: var(--fontXSmallLineHeight);
  letter-spacing: var(--fontXSmallLetterSpacing);
}

.projPost {
  margin-bottom: var(--margin-L);
  transition: font-variation-settings 0.5s ease;
}

.projPost:hover {
  font-variation-settings: "wght" 800;
}

.projPost:hover .projImageWrapper {
  animation: vibrate 0.5s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
}

.projText {
  font-variation-settings: "wght" 500 !important;
}

.projImageWrapper {
  height: 50%;
  overflow: hidden;
  margin-bottom: 10px;
}

.formatted p {
  padding-bottom: 20px !important;
}

@keyframes vibrate {
  0% {
    transform: rotateZ(0);
  }
  25% {
    transform: rotateZ(-1deg);
  }
  50% {
    transform: rotateZ(0);
  }
  75% {
    transform: rotateZ(1deg);
  }
  100% {
    transform: rotateZ(0);
  }
}

.projImageWrapper span {
  width: 100% !important;
  height: initial !important;
}

.projBildunterschrift {
  text-align: center;
  font-size: var(--fontXSmallSize);
  line-height: var(--fontXSmallLineHeight);
  letter-spacing: var(--fontXSmallLetterSpacing);
  margin-top: var(--margin-S);
  opacity: 0;
  transition: opacity 0.5s ease;
}

.projSwiper:hover .projBildunterschrift {
  opacity: 1;
}

.embed-container {
  width: 100vw;
  height: 56vw;
  background: black;
}

.embed-container iframe {
  width: 100vw;
  height: 56vw;
}

.projSwiper {
  width: 100vw;
  height: 100%;
  margin: var(--margin-XL) 0;
  cursor: e-resize;
}

.projLink {
  cursor: pointer;
  width: calc(50% - 8px);
}

.projHeadline {
  padding: 30px 0;
}

.projImage {
  height: 800px;
}

.projLogos {
  padding: var(--margin-L);
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-evenly;
}

.projLogos span {
  /* max-height: 4vw !important; */
  max-width: 12vw !important;
}

.projDownloadlink a p {
  text-align: left;
  font-size: var(--fontXSmallSize);
  line-height: var(--fontXSmallLineHeight);
  letter-spacing: var(--fontXSmallLetterSpacing);
}

.projHeaderImage {
  width: 100vw;
}

.projHeaderImage span {
  width: 100%;
}

.projWeitereProjekte {
  padding: var(--margin-XL) 0 var(--margin-XXL);
  text-align: center;
}

.projWeitereProjekte p {
  padding-bottom: var(--margin-M);
}

.projPasswortCol input {
  font-size: var(--fontSmallSize);
  font-family: "Giallo";
  border: 0;
  text-align: center;
}

.projPasswort {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: var(--margin-XL);
  width: 100%;
}

.projPasswortCol {
  padding-top: var(--margin-M);
}

.projPasswortImage,
.projPasswortLink {
  width: 33% !important;
  padding-bottom: var(--margin-M);
}

@media only screen and (max-width: 800px) {
  .projLink {
    width: 100%;
  }
  .projPost:hover {
    font-variation-settings: "wght" 500;
  }
  .projSingleText {
    margin: 0;
  }
  .projSingleDataWrapper {
    flex-direction: column;
    padding: var(--margin-XL) 0;
  }
  .projSingleDataCol {
    width: 100%;
  }
  .projSingleInner {
    padding-right: 0;
  }
  .projSingleDataCol > p {
    font-size: var(--fontLargeSize);
    line-height: var(--fontLargeLineHeight);
    padding-top: var(--margin-XL);
  }
  .projImage {
    height: 300px;
  }
  .projLogos {
    flex-direction: column;
    align-items: center;
  }
  .projLogos span {
    max-width: 60vw !important;
  }
  .projLogo {
    margin: 10vw !important;
  }
}

/* ARMADA */

.armdWrapper {
  margin: 0 5vw;
  padding-bottom: var(--margin-XL);
}

.armdIntro h2 {
  text-align: center;
  padding-bottom: 10px;
}

.armdIntro div {
  margin-bottom: var(--margin-XXL);
}

.armdIntro p {
  padding-bottom: 20px;
}

.armdListe {
  margin: var(--margin-L) 0 var(--margin-XXL);
}

.armdListe h1 {
  text-align: center;
}

.armdPersonWrapper {
  transition: max-height 1s ease;
  padding: 0 5vw;
}

.armdPersonWrapperOpen {
  max-height: 9999px;
}

.armdPersonWrapperClosed {
  max-height: 0px;
}

.armdHeadline {
  cursor: pointer;
  transition: font-variation-settings 0.3s ease-out;
}

.armdHeadline:hover {
  font-variation-settings: "wght" 1000;
}

.armdImageWrapper {
  display: flex;
  justify-content: center;
}

.armdImage {
  margin: calc(2 * var(--margin-M)) 0;
  width: 60%;
}

.armdReferenceWrapper {
  margin: var(--margin-L) 0 var(--margin-XL);
  text-align: center;
}

.armdReferenceImage {
  width: 400px;
  height: 150px;
  padding-left: 5px;
}

.armdReferenceHeader {
  margin-top: var(--margin-L);
  font-size: var(--fontXSmallSize);
  line-height: var(--fontXSmallLineHeight);
  letter-spacing: var(--fontXSmallLetterSpacing);
}

@media only screen and (max-width: 800px) {
  .armdWrapper {
    margin: 0;
  }

  .armdPersonWrapper {
    padding: 0;
  }
  .armdIntro p {
    padding-bottom: 10px;
  }
}

/* ARCHIV */

.archWrapper {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.archWrapper div {
  width: 300px;
}

.archWrapper .archText {
  margin-left: 100px;
}

.archText:first-child {
  margin-left: 0 !important;
}

.archText p {
  font-size: var(--fontXSmallSize);
  line-height: var(--fontXSmallLineHeight);
  letter-spacing: var(--fontXSmallLetterSpacing);
}

.archSingle {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  background: blue;
  height: 800px;
  width: 800px;
}

.archText {
  width: 400px;
  padding-right: 40px;
  height: 500px;
}

.archImageWrapper {
  height: 500px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.archImageWrapper div {
  width: auto;
  height: 800px;
  width: 800px;
}

.archImageInner {
  height: 100%;
  position: relative;
  padding: 0 2px 80px 2px;
}

.archImageInner p {
  opacity: 0;
  transition: opacity 0.5s ease;
}

.archImageInner:hover .fontXXS {
  opacity: 1;
}

.archBig {
  width: 1000px;
}

.lightboxWrapper {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  z-index: 500;
}

.lightboxInner {
  position: fixed;
  top: 0;
  height: "100vw";
  position: "relative";
  min-width: "50vw";
}

@media only screen and (max-width: 800px) {
  .archText {
    padding-bottom: var(--margin-M);
    padding-top: var(--margin-M);
    height: unset;
    margin-left: 0 !important;
  }
  .archWrapper div {
    width: unset;
  }
  .archWrapper {
    padding-bottom: var(--margin-XXL);
  }
  .lightboxWrapper {
    display: none;
  }
  .archImageInner {
    height: 100%;
    position: relative;
    padding: 0 2px 5px 2px;
  }
}

/* VERMITTLUNG */

.vermInfo h2 {
  text-align: center;
  padding-bottom: 10px;
}

.vermInfo {
  margin: 0 5vw 15vw 5vw;
}

.vermInfo hr {
  border: 2px solid;
}

.vermDownloadHeader {
  text-align: center;
}

.vermSwiper {
  width: 100%;
  height: 100%;
  padding-bottom: 5vw;
}

.vermImage {
  height: 800px;
}

.vermMitnehmenSingle {
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
}

.vermMitnehmenSingle div {
  width: 50%;
}

@media only screen and (max-width: 800px) {
  .vermInfo {
    margin-left: 0;
    margin-right: 0;
  }
  .vermImage {
    height: 210px;
  }
}

/* TERMINE */

.termineWrapper {
  margin-bottom: var(--margin-XXL);
}

.termineRow {
  padding: 20px 0 10px 0;
  border-bottom: 5px solid black;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.termineRow2 {
  padding: 20px 0 10px 0;
  border-bottom: 5px solid black;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
}

.termineDate {
  text-align: center;
}

.termineDay {
  width: 15vw;
  padding-top: 10px;
  line-height: 110px;
}

.termineTitle {
  width: 50vw;
  padding-right: 40px;
}

.termineTitle,
.termineLocation {
  padding-top: 5px;
}

.termineLocation {
  width: 15vw;
}

.termineSwitch p {
  cursor: pointer;
  transition: font-variation-settings 0.5s ease-out;
}

.termineSwitch p:hover {
  font-variation-settings: "wght" 1000;
}

@media only screen and (max-width: 800px) {
  .termineDay {
    line-height: unset;
  }
  .termineSwitch {
    text-align: center;
  }
  .termineRow2,
  .termineRow {
    border-bottom: 2px solid black;
    text-align: center;
  }
  .termineRow {
    padding-top: 12px;
  }
  .termineRow2 {
    flex-direction: column;
  }
  .termineDay,
  .termineLocation,
  .termineTitle {
    width: 100%;
    padding: 0;
  }
  .termineLocation {
    padding: 5px 0;
  }
}

/* KONTAKT */

.kontaktWrapper {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.kontakt h2,
.kontakt p {
  text-align: center;
}

.kontaktFooter {
  position: fixed;
  bottom: var(--margin-S);
  width: 100%;
}

/* FOOTER */

.footerWrapper {
  width: 100%;
  display: flex;
  justify-content: center;
}

.footerWrapper p {
  font-size: var(--fontXSmallSize);
  line-height: var(--fontXSmallLineHeight);
  letter-spacing: var(--fontXSmallLetterSpacing);
  text-align: center;
}

/* IMPRESSUM */

.imprWrapper {
  padding: var(--margin-M);
}

.imprLogos {
  padding: var(--margin-XL) 0;
}

.imprLogos p {
  font-size: var(--fontXSmallSize);
  line-height: var(--fontXSmallLineHeight);
  letter-spacing: var(--fontXSmallLetterSpacing);
}

/* CROSSING */

.crossingWrapperNilpferd {
  position: fixed;
  top: 50%;
  right: 0;
  animation: rtl 30s linear;
  pointer-events: none;
  animation-fill-mode: forwards;
  animation-delay: 0s;
  z-index: 50;
}

.crossingWrapperDino {
  position: fixed;
  top: 80%;
  right: 0;
  animation: rtl 100s linear;
  pointer-events: none;
  animation-fill-mode: forwards;
  animation-delay: 0s;
}

@keyframes rtl {
  0% {
    transform: translateX(0);
  }
  /* 20% {
    transform: translateX(0)
  } */
  100% {
    transform: translateX(-250vw);
  }
}

.crossingWrapperPapagei {
  position: fixed;
  top: 80%;
  left: 0;
  animation: ltr 40s linear;
  pointer-events: none;
  animation-fill-mode: forwards;
  animation-delay: 2s;
  z-index: 1000;
  transform: translate(-50vw, 0vh);
}

.crossingWrapperFisch {
  position: fixed;
  top: 80%;
  left: 0;
  animation: ltr 5s linear;
  pointer-events: none;
  animation-fill-mode: forwards;
  animation-delay: 3s;
  z-index: 1000;
  transform: translate(-60vw, 0vh) scale(50%);
}

.crossingWrapperSturm {
  position: fixed;
  top: 80%;
  left: 0;
  animation: ltr 20s linear;
  pointer-events: none;
  animation-fill-mode: forwards;
  animation-delay: 2s;
  z-index: 1000;
  transform: translate(-50vw, 0vh);
}
.crossingWrapperBallon {
  position: fixed;
  top: 80%;
  left: 0;
  animation: ltr 15s linear;
  pointer-events: none;
  animation-fill-mode: forwards;
  z-index: 1000;
  transform: translate(-50vw, 0vh);
}

.crossingWrapperCan {
  position: fixed;
  top: 80%;
  left: 0;
  animation: ltr 20s linear;
  pointer-events: none;
  animation-fill-mode: forwards;
  animation-delay: 2s;
  z-index: 1000;
  height: 400px;
  transform: translate(-50vw, 0vh) scale(50%);
}

@keyframes ltr {
  0% {
    transform: translate(-60vw, 0vh);
  }
  100% {
    transform: translate(200vw, 10vh);
  }
}

.crossingWrapperStift {
  position: fixed;
  top: 80%;
  right: 0;
  animation: rtl 20s linear;
  pointer-events: none;
  animation-fill-mode: forwards;
  animation-delay: 0s;
}

.playmo {
  position: fixed;
  bottom: -40vh;
  left: 40%;
  z-index: 10;
  transition: transform 0.5s ease;
}

.playmoActive {
  transform: translateY(0);
}

.playmoGone {
  transform: translateY(40vw);
}

/* COOKIES */

.cookiesWrapper {
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 2000;
  backdrop-filter: blur(15px);
  animation: fadeIn 0.3s ease-out 1s forwards;
  opacity: 0;
}

.cookiesText {
  position: absolute;
  bottom: var(--margin-M);
  width: 80vw;
  text-align: center;
}

.cookiesText div {
  margin-top: var(--margin-M);
  display: flex;
  justify-content: space-evenly;
}

.cookieButton h2 {
  cursor: pointer;
  transition: font-variation-settings 0.5s ease-out;
}

.cookieButton:hover h2 {
  font-variation-settings: "wght" 1000;
}

.cookieYes {
  color: green;
}

.cookieNo {
  color: red;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media only screen and (max-width: 800px) {
  .cookiesText {
    top: var(--margin-L);
    bottom: unset;
  }
}

.datenschutzWrapper {
  padding-bottom: var(--margin-XL);
}

/* NEWSLETTER */

@keyframes slideIn {
  0% {
    transform: translateX(550px);
  }
  100% {
    transform: translateX(-0px);
  }
}

.newsletterWrapper {
  position: fixed;
  display: flex;
  /* flex-direction: column;
  align-items: center; */
  /* padding: 20px; */
  right: 0;
  bottom: 0;
  /* background: rgba(255, 255, 255, 0.5); */
  width: 400px;
  height: 400px;
  z-index: 1000;
  /* border-radius: 20px; */
  /* backdrop-filter: blur(20px); */
  animation: slideIn 0.5s 2s ease;
  animation-fill-mode: forwards;
  transform: translateX(550px);
  transition: all 0.5s ease;
}

.newsletterInner {
  position: absolute;
  width: 240px;
  height: 210px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: 100px;
  left: 73px;
}

.newsletterWrapper p {
  font-size: var(--fontXSmallSize);
  line-height: var(--fontXSmallLineHeight);
  letter-spacing: var(--fontXSmallLetterSpacing);
  text-align: center;
}

.newsletterWrapper form {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 25px;
}

.newsletterWrapper input,
.newsletterWrapper input::placeholder,
.newsletterWrapper input:focus {
  border: 0;
  border-bottom: 2px solid black;
  outline: 0;
  background: none;
  margin: var(--spaceSmall);
  text-align: center;
  font-family: "Giallo";
  font-size: 22.5px;
  color: black;
  opacity: 1;
}

.newsletterWrapper button {
  border: 0;
  outline: 0;
  font-size: 22.5px;
  background: none;
  cursor: pointer;
  font-family: "Giallo";
  font-variation-settings: "wght" 400;
  transition: all 0.2s ease;
}

.newsletterWrapper button:hover {
  font-variation-settings: "wght" 700;
}

.newsletterClose {
  position: absolute;
  left: 30px;
  top: 37px;
  width: 30px;
  height: 30px;
  border-radius: 100px;
  background: black;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.newsletterClose:hover {
  color: black;
  background: white;
  border: 1.5px solid black;
}

/* @media only screen and (max-width: 800px) {
  .newsletterWrapper {
    width: calc(100vw - 2 * var(--margin-M));
  }
} */
